.dom {
  width: 100% !important;
  min-height: 100vh !important;
  /* background: linear-gradient(315deg, #000000 0%, #324553 95%); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dom .home {
  width: 100%;
  min-height: 100vh;
  background: #00000090;
  backdrop-filter: blur(20px);
  gap: 2rem;
  padding: 1rem 2rem;
  color: var(--white);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}
nav {
  width: 20%;
  height: 100%;
}
.responsive_nav {
  display: none;
}
.nav_header {
  font-family: "Lilita One", cursive;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo {
  height: 2.2rem;
  width: 2.2rem;
  object-fit: contain;
}
.home ul {
  margin: 3rem 0;
}
.home ul li {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.avatar img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.responsive_avatar {
  display: none;
}
.responsive_btn {
  display: none;
}
.computer_nav .responsive_close_btn {
  display: none;
}
.body_wrapper {
  width: 100%;
  gap: 2rem;
}
.midSection_scroll {
  overflow: scroll;
  max-height: 75vh;
}
.midSection_scroll::-webkit-scrollbar {
  display: none;
}
.mid_section {
  width: 50%;
}
.mid_header {
  font-weight: 500;
  font-size: 2.2rem;
}
.input {
  padding: 8px 1rem;
  border-radius: 5px;
}
.input input {
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
}

.item {
  padding: 8px;
  border-radius: 5px;
}
.item img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.play {
  padding: 0.5rem 2rem 0;
  width: 50%;
}
.play img {
  height: 29rem;
  width: 100%;
  object-fit: cover;
  border-radius: 5% !important;
  background-position: center;
}
.play_img span {
  font-size: 3rem;
  border-bottom: 2px solid var(--white);
}
.play_img p {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}
.my_btn {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  color: var(--white);
  border: 0;
  outline: 0;
  display: grid;
  place-items: center;
}
.my_btn_2 {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  color: var(--white);
  border: 0;
  outline: 0;
  background: transparent;
  display: grid;
  place-items: center;
}
.my_btn_3 {
  background: var(--white);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--black);
  border: 0;
  outline: 0;
  display: grid;
  place-items: center;
}
.my_btn_3 svg {
  scale: 2;
}
.progress-container {
  width: 100%;
}
.progress-bar {
  appearance: none;
  width: 100%;
  height: 3px;
  border: none;
  border-radius: 10px;
}
.progress-bar-input {
  width: 100%;
  height: 3px;
  border: none;
  border-radius: 10px;
}

.bg_glass {
  background: var(--glass);
}
.progress-bar::-webkit-progress-value {
  background-color: var(--glass);
  border-radius: 10px;
}
.pointer {
  cursor: pointer;
}
.custom_title {
  color: #9fa6b2;
}
.burger_btn {
  display: none;
}
/* Media Query for Responsiveness */
@media (max-width: 992px) {
  .home {
    padding: 2rem;
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .responsive_btn {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .computer_nav {
    display: none;
  }
  .responsive_nav {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 2rem;
    z-index: 9;
    background: linear-gradient(315deg, #000000f4 0%, #324553f4 95%);
    backdrop-filter: blur(20px);
    min-height: 20rem;
    width: 20rem;
    border-radius: 10px;
  }
  .responsive_nav .responsive_close_btn {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .avatar {
    display: none;
  }
  .responsive_avatar {
    display: block;
  }
  .burger_btn {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px, rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
    scale: 1.1;
  }
  .responsive_avatar img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .body_wrapper {
    flex-direction: column-reverse;
  }
  .mid_section {
    width: 100%;
  }
  .play {
    width: 100%;
    text-align: center;
  }
  .responsive_div {
    display: grid;
    place-items: center;
  }
  .play img {
    width: 34rem;
    height: 34rem;
  }
  .item {
    margin: 0 2rem;
  }
}

@media (max-width: 675px) {
  .play img {
    width: 100% !important;
    height: 30rem;
  }
}
@media (max-width: 576px) {
  .responsive_nav {
    width: 50%;
  }
  .item {
    margin: 0 1rem;
  }
  .play img {
    width: 100%;
    height: 26rem;
  }
}

@media (max-width: 440px) {
  .home {
    padding: 1rem;
  }
  .responsive_nav {
    width: 75%;
  }
  .responsive_avatar img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .play img {
    height: 20rem;
  }
}
